
<div id="errorMessage"></div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="TotalWeight" class="odometer"></h3>
                <p>Weight in {{unit}}</p>
            </div>
            <div class="icon" style="margin-top:-10px;">
                <i class="fa  fa-balance-scale" style="font-size:0.73em;"></i>
            </div>
            <a asp-action="ShowData" asp-controller="User" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="TotalProducts" class="odometer"></h3>
                <p>Products</p>
            </div>
            <div class="icon" style="top:-20px;">
                <i class="fa  fa-cube" style="font-size:0.8em;"></i>
            </div>
            <a href="#products" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="TotalLocation" class="odometer"></h3>
                <p>Locations</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-globe"></i>
            </div>
            <a href="#locations" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3 id="LastUpdatedProduct">None</h3>
                <p>Last Updated</p>
            </div>
            <div class="icon" style="top:-20px;">
                <i class="fa  fa-refresh" style="font-size:0.8em;"></i>
            </div>
            <a asp-action="ShowData" asp-controller="User" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>