@{ 
    Layout = "_LayoutHome";
    ViewBag.Title = "Access Denied";
}
<section class="content">
    <div class="callout callout-info">
        <h3>Not found</h3>
        <p>Sorry, the page that you are looking for can not be found.</p>
    </div>
</section>