@{ 
    Layout = "_LayoutHome";
    ViewBag.Title = "Access Denied";
}
<section class="content">
    <div class="callout callout-info">
        <h3>Access Denied</h3>
        <p>Sorry, you are not allowed to access this page.</p>
    </div>
</section>