@model ContactViewModel
<style>
    .register-box{
        width:25%;
    }
</style>
<div class="register-box-body">
    <h2 class="login-box-msg">Contact Us</h2>
    @if (ViewBag.SuccessMessage != null)
    {
        <h3 class="login-box-msg" style="color:#00a65a">
            @ViewBag.SuccessMessage
        </h3>
    }
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group has-feedback">
            <input asp-for="Name" type="text" class="form-control" placeholder="Full Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Email" type="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group has-feedback">
            <textarea asp-for="Message" class="form-control" rows="10" placeholder="Message" style="max-width:100%; padding:12px;"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>
        