@model LoginViewModel
@section css{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/all.css">
}
<div class="login-box-body">
    <p class="login-box-msg">Sign in to continue</p>
    <form method="post" novalidate>
        <div style="color:#dd4b39" asp-validation-summary="ModelOnly"></div>
        <div class="form-group has-feedback">
            <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input asp-for="Remember" type="checkbox"> Remember Me
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </div>
    </form>
    <a asp-controller="Home" asp-action="PasswordReset">I forgot my password</a><br>
    <a asp-controller="Home" asp-action="Contact">Any other difficulties? Click here</a>
    <a class="btn btn-primary btn-flat" style="width:100%;margin-top:10px;" asp-action="Index" asp-controller="Public">Click here for public domain</a>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-12" style="color:green">
        <p style="text-align:center;margin:0;"><b>Test user account information:</b></p>
        <p style="text-align:center;margin:0;"><b>Username: farming101</b></p>
        <p style="text-align:center;margin:0;"><b>Password: bhavesh123</b></p>
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script>
            $(function () {
            $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                });
            });
        </script>
}
