@model AddNewProductModel
@{
    ViewBag.Title = "Add New Product";
    ViewBag.PageHeader = "Add New Poduct";
    ViewBag.PageHeaderSmall = "Add new product into your account";
}
<section class="content">
    <form method="post">
        <div class="box box-primary">
            @if (ViewBag.SuccessMessage != null)
            {
                <h3 style="color:green;margin-left:10px;">@ViewBag.SuccessMessage</h3>
            }
            <div class="box-header with-border">
                <h3 class="box-title" style="color:#db9a02;">
                    Please double check the information before submitting product data. To remove product from the account or any other queries <a href="/Contact">Contact Us</a>
                </h3>
                <div style="color:#dd4b39;font-size:20px;margin-top:0px;" asp-validation-summary="ModelOnly"></div>
            </div>
            <div class="box-body">
                <div class="form-group has-feedback">
                    <label>Name:</label>
                    <input autofocus="autofocus" asp-for="Name" type="text" class="form-control" placeholder="Enter product Name">
                    <span asp-validation-for="Name"></span>
                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="form-group has-feedback">
                        <label>Description(optional):</label>
                        <input asp-for="Description" type="text" class="form-control" placeholder="Enter description(optional)">
                        <span asp-validation-for="Description"></span>
                    </div>
                }
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</section>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
