@model AddNewLocationModel
@{
    ViewBag.Title = "Add New Farm Location";
    ViewBag.PageHeader = "Add New Farm Location";
    ViewBag.PageHeaderSmall = "Add new farm location details into your account";
}
<section class="content">
    <form method="post">
        <div class="box box-primary">
            @if (ViewBag.SuccessMessage != null)
            {
                <h3 style="color:green;margin-left:10px;">@ViewBag.SuccessMessage</h3>
            }
            <div class="box-header with-border">
                <h3 class="box-title" style="color:#db9a02;">
                    Please double check the information before submitting location data
                </h3>
                <div style="color:#dd4b39;font-size:20px;margin-top:0px;" asp-validation-summary="ModelOnly"></div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>Location Name:</label>
                    <input autofocus="autofocus" asp-for="Name" type="text" class="form-control" placeholder="Enter location Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input asp-for="Address" type="text" class="form-control" placeholder="Enter Address">
                    <span asp-validation-for="Address"></span>
                </div>
                <div class="form-group">
                    <label>Pin no:</label>
                    <input asp-for="PinNo" type="text" class="form-control" placeholder="Enter Pin no">
                    <span asp-validation-for="PinNo"></span>
                </div>
                <div class="form-group">
                    <label>State:</label>
                    <input asp-for="State" type="text" class="form-control" placeholder="Enter State">
                    <span asp-validation-for="State"></span>
                </div>
                <div class="form-group">
                    <label>Country:</label>
                    <input asp-for="Country" type="text" class="form-control" placeholder="Enter Country">
                    <span asp-validation-for="Country"></span>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</section>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
