@*User Dashboard*@

@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageHeader = "Dashboard";
    ViewBag.PageHeaderSmall = "Overview of your data";
}

<!-- Main content -->
<section class="content">

    

</section>
