@*Admin Dashboard*@
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageHeader = "Dashboard";
    ViewBag.PageHeaderSmall = "Overview of the users";
}
<!-- Main content -->
<section class="content">

</section>