
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Website information (read this if you want to know what this website is all about.)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <p>
                        Most of the farmer uses pen and paper or some manual data entry method to keep track of their harvest. This method is prone to error and data is limited to farmer itself.
                        The purpose of this website is to store data collected from farmers. This data includes information about harvest such as its weight, location, date and time on which weight
                        is measured etc. This webiste works in conjuction with IOT device which is a weighing machine. Farmer uses a modified weighing machine to measure the weight of the harvest
                        then machine captures all the information while weighing the harvest and uploads all the information into that specific farmer's account. Farmer can sign in into his/her
                        account to see all that information(click on Sign In button to see test user account).
                    </p>
                    <p>
                        By introducing IOT device such as weighing machine which handles data entry, the process of keeping track of harvest is automated which reduces error in data entry significantly.
                        Also this data can be made available to public so that transparency between farmer and end consumer is increased. Retailers can also use this systemt to contact farmers based on
                        their harvest information on this website.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">1,410</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">1,410</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">1,410</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">1,410</span>
                </div>
            </div>
        </div>
    </div>
</section>
