@model Tuple<bool, bool, string>
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-default.min.css" />
}
@if (!Model.Item1)
{
    <div ng-app="app-dashboard" class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-12" ng-controller="userController">
            <section class="content-header">
                <h1>
                    More details about {{userData.fullName}} <small>All details except charts are auto updated.</small>
                </h1>
            </section>
            <section class="content">
                @Html.Partial("UserDashboardPartialTop")
                @if (Model.Item2)
                {
                    @Html.Partial("UserDashboardPartialMiddle")
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-xs-12">
                            <div class="callout callout-info">
                                <h4>Hello there,</h4>
                                <p>This user does not have any data to display. Come back after some time.</p>
                            </div>
                        </div>
                    </div>
                }

            </section>
        </div>
    </div>
    @section scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        @*<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-poller/0.4.5/angular-poller.min.js"></script>*@
        <script src="~/distribution/js/angular-poller.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        @*<script src="~/distribution/js/dashboardScript.js"></script>*@
        <script src="~/js/dashboardScript.js"></script>
        <script>var username = "@Model.Item3.ToString()"; user_dashboard(username);</script>
    }
}
else
{
    <section class="content">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-12 col-xs-12">
                <div class="callout callout-info">
                    <h4>Hello there,</h4>
                    <p>This user does not have any data to display. Come back after some time.</p>
                </div>
            </div>
        </div>
    </section>
}